<div id="content">
    <div style="width: 20%; float:left">
        <img src="./assets/images/logo1.png" alt="logo" height="55" width="55">
        <a class="navbar-brand " href="#">Batch Manager</a>
    </div>
    <div style="width: 80%; float:right">
        <a routerLink="">Home</a>
        <a routerLink="applns">Pending Applications</a>
        <a routerLink="history">Application History</a>
        <a routerLink="contacts">Contact Admin</a>
        <a routerLink="">SignOut</a>
    </div>
    <br style="clear:both;"/>
</div>