    <div class="main">
    <div class="left">
        <h6>Work Timings</h6>
        <ul>
            <li>Mon-Fri : 10 am - 5 pm</li>
            <li>Saturday: 10 am - 2 pm</li>
            <li>Sunday  : Holiday</li>
        </ul>
    </div>
    <div class="right">
        <h6>Orientations & Seminars</h6>
        <ul>
            <li>Fridays : 4-5 pm</li>
            <li>Wednesdays : 1-2 pm</li>
            <li>Month end : (randomly)</li>
        </ul>
    </div>
    <h2>© 2022 ICT Acdemy Kerala. All Rights Reserved.</h2>
</div>

    
  
  